{%load static%}
<html>
	<head>
		<title> Movie Review </title>
		<link rel="stylesheet" href="{%static 'css/styling.css'%}">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="shortcut icon" href="{%static 'images/logo.png' %}">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;1,400;1,500&display=swap" rel="stylesheet">
	</head>
	<body>
		<nav>
			<a href="#" class="logo"> <img src="{%static 'images/logo.png'%}"/> </a>
			<ul class="menu">
				<li> <a href="main/"> Home </a> </li>
				<li> <a href="movies/">Movies </a> </li>
				<li> <a href="shortfilms/">ShortFilms </a> </li>
				<li> <a href="genres/"> Genres</a> </li>
				<li> <a href="about/"> About Us</a> </li>
			</ul>
			<div class="search">
				<form action="{% url 'search-movies' %}" method="get"></form>
				<input type="text" id="input" placeholder="Search for favorite films" onkeyup="fun()"/>
				<button type="submit" style="border:none;background:transparent;"><i class="fa fa-search" style="font-size:20px;color:black"></i></button>
				</form>
			</div>
		</nav>
		<div class="sdr">
			<h2 style="padding-left:50px;"> Movies/Ala Vaikunthapurramuloo </h2>
			<hr>
			<table>
				<tr> 
					<td>
					<td>
					<td style="background-color:black;color:white;text-align:center;font-style:bold;"> <img src="{%static 'images/AV.jpg'%}" height="350" width="300">
					<br> <br> <span style="align:left;color:yellow;">Cast :</span>  Allu Arjun,Tabu,Pooja Hegde <br>
					<span style="align:left;color:yellow;">Written & Directed by :</span> Trivikram Srinivas<br>
					<span style="align:left;color:yellow;">Editor :</span> Naveen Nooli <br>
					<span style="align:left;color:yellow;">Cinematography :</span> P.S Vinod <br>
					<span style="align:left;color:yellow;">Music Director :</span> S Thaman <br>
					<span style="align:left;color:yellow;">Release date :</span> 12 January 2020 <br>
					<span style="align:left;color:yellow;">Available-in :</span> Netflix <br>
						Watch now @ <a href="https://www.netflix.com/in/title/81252029" target="_blank"><img src="{%static 'images/netflix.jpg'%}" height="50" width="50"></a>
					</td>
					<td style="padding:20px;">
					<h1> A fun entertainer!</h1>
					<h2> Rating:3.5/5 </h2>
					<p style="font-size:20px;"> &emsp;Ala Vaikunthapurramuloo is set in the soft-tinted, beautifully framed, pastel hued 
cotton-candy-land that Trivikram Srinivas builds. The evil-doers here are left to their 
own devices, in hope that karma will get to them. And when that doesn’t work, they’re of 
course beaten up black and blue, but in style. The film sets up a lot of characters and 
ends up showcasing scenarios that are completely implausible. But the film’s biggest 
strength is that you buy it all, even if Trivikram, yet again, tells the tale of a man 
who wants to help a family he cares about. <br>
					&emsp;  The bane of Bantu’s (Allu Arjun) existence is his father Valmiki (Murli Sharma, giving a 
brilliant performance). The older man likes putting down his son at every opportunity, 
reminding him of his fate for having been born in a middle-class family. He seems more 
interested in his boss Ramachandra’s (Jayram) son Raj Manohar (Sushanth A) than his own 
and there’s a reason for it. The chaos that ensues when Bantu finds out the truth about 
his father and enters Vaikunthapurram (the lavish home Ramachandra and his family stay 
at) in a bid to help them is worth watching. But not because the film pulls of something
new, it doesn’t.<br>
					&emsp; Thaman S’ music and background score for this one is impressive (Ramuloo Ramulaa and OMG 
Daddy are killer) and the cinematography by PS Vinod is good. Naveen Nooli’s editing could’ve 
been tighter, especially in the second half, where the film doesn’t pack the kind of punch 
the first half did. Trivikram’s fans might miss his trademark punch comedic dialogues, but 
fitting with the theme of the film, the comedy in this one is more dry and sarcastic, and 
it works!<br>
					&emsp; Ala Vaikunthapurramuloo has a little bit of everything and despite the cliché and predictable 
storyline; Trivikram manages to make it work and deliver what he promises. Watch this one for 
Allu Arjun, especially if you’re a fan, for he shines in this one and of course, the fun of it
all.
					</p>
					</td>
					
				</tr>
			</table>

			
		</div>
		<div class="f1">
				<p style="font-size:20px"> Connect Us Here<br>
				<a href="http://www.youtube.com" target="_blank"class="fa fa-youtube" ></a>
				 <a href="http://www.facebook.com" class="fa fa-facebook" ></a>
				 <a href="http://www.instagram.com" class="fa fa-instagram" ></a><p>
				<h3> &copy All the reviews are subject to copyright </h3>
			</div>
	</body>
</html>