{%load static%}
<html>
	<head>
		<title> Movie Review </title>
		<link rel="stylesheet" href="{%static 'css/styling.css'%}">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="shortcut icon" href="{%static 'images/logo.png' %}">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;1,400;1,500&display=swap" rel="stylesheet">
	</head>
	<body>
		<nav>
			<a href="#" class="logo"> <img src="{%static 'images/logo.png'%}"/> </a>
			<ul class="menu">
				<li> <a href="main/"> Home </a> </li>
				<li> <a href="movies/">Movies </a> </li>
				<li> <a href="shortfilms/">ShortFilms </a> </li>
				<li> <a href="genres/"> Genres</a> </li>
				<li> <a href="about/"> About Us</a> </li>
			</ul>
			<div class="search">
				<form action="{% url 'search-movies' %}" method="get"></form>
				<input type="text" id="input" placeholder="Search for favorite films" onkeyup="fun()"/>
				<button type="submit" style="border:none;background:transparent;"><i class="fa fa-search" style="font-size:20px;color:black"></i></button>
				</form>
			</div>
		</nav>
		<div class="sdr">
			<h2 style="padding-left:50px;"> Movies/M S Dhoni </h2>
			<hr>
			<table>
				<tr> 
					<td>
					<td>
					<td style="background-color:black;color:white;text-align:center;font-style:bold;"> <img src="{%static 'images/dhoni.jpg'%}" height="350" width="350">
					<br> <br> <span style="align:left;color:yellow;">Cast :</span> Sushanth Singh Rajput,Bhumika Chawla,Kiara Advani,Disha Patani <br>
					<span style="align:left;color:yellow;">Directed by :</span> Neeraj Pandey <br>
					<span style="align:left;color:yellow;">Written by :</span> Neeraj Pandey &Dilip Jha <br>
					<span style="align:left;color:yellow;">Editor :</span> Shree Narayan Singh <br>
					<span style="align:left;color:yellow;">Cinematography :</span> Santosh Thundiyil <br>
					<span style="align:left;color:yellow;">Music By :</span> Sanjoy Chowdhury,Amaal Mallik <br>
					<span style="align:left;color:yellow;">Release Date :</span> 30 September 2016 <br>
					<span style="align:left;color:yellow;">Available-in :</span> Disney+Hotstar <br>
						Watch now @ <a href="https://www.hotstar.com/in/movies/ms-dhoni-the-untold-story/1770003314" target="_blank"><img src="{%static 'images/hotstar.jpg'%}" height="50" width="50"></a>
					</td>
					<td style="padding:20px;">
					<h1> The BEST of Biopics Till date </h1>
					<h2> Rating:3/5 </h2>
					<p style="font-size:20px;"> &emsp; If you are a diehard fan of MS Dhoni and cricket (in that order), you are bound to love this film, 
which reveres its protagonist. Despite the glorification, what works is Sushant’s impeccable
portrayal of a stoic Dhoni and the latter’s inspiring untold story - his journey from being a ticket
collector to a renowned attacking batsman/wicket-keeper/captain.
					<br>
					&emsp; Sushant internalises his character and becomes MSD, without heavily mimicking the cricketer. He even nails 
his iconic helicopter shot and restrained personality. The actor scores a winning knock. The film also
boasts of a spectacular first-half, which showcases Dhoni’s initial struggle as an aspiring professional
cricketer. It reminds you why sportsmen deserve the fame and money they get. <br>
					&emsp; Neeraj Pandey recreates Dhoni’s Ranchi life beautifully. He keeps it authentic and relatable. This one 
scene shot at Kharagpur station particularly stands out. Sushant is seen trying to make his way through 
a sea of people. It’s him going against the tide, summing up Dhoni’s life journey as well. Supporting 
actors deserve a special mention as their performances tug at your heartstrings. A scene featuring 
Yuvraj Singh (Herry Tangri) is outstanding.
				    &emsp; However the biopic loses its momentum in the second half with Dhoni’s love life getting undue prominence.
 Also, the cricketer’s questionable decisions or possible vices are mostly overlooked. His tiff with the 
senior players (Sehwag, Gambhir), rivalry with Yuvraj Singh, love-hate relationship with the media, team 
politics and criticism faced on occasions, barely find a passing reference. As a full-fledged biopic, this 
one-dimensional approach towards the lead character leaves you a tad discontented. But since you see the
film through Dhoni’s eyes, it’s justified as one rarely sees faults in oneself.
					</p>
					</td>
					
				</tr>
			</table>

			
		</div>
		<div class="f1">
				<p style="font-size:20px"> Connect Us Here<br>
				<a href="http://www.youtube.com" target="_blank"class="fa fa-youtube" ></a>
				 <a href="http://www.facebook.com" class="fa fa-facebook" ></a>
				 <a href="http://www.instagram.com" class="fa fa-instagram" ></a><p>
				<h3> &copy All the reviews are subject to copyright </h3>
			</div>
	</body>
</html>