{%load static%}
<html>
	<head>
		<title> Movie Review </title>
		<link rel="stylesheet" href="{%static 'css/styling.css'%}">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="shortcut icon" href="{%static 'images/logo.png' %}">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;1,400;1,500&display=swap" rel="stylesheet">
	</head>
	<body>
		<nav>
			<a href="#" class="logo"> <img src="{%static 'images/logo.png'%}"/> </a>
			<ul class="menu">
				<li> <a href="main/"> Home </a> </li>
				<li> <a href="movies/">Movies </a> </li>
				<li> <a href="shortfilms/">ShortFilms </a> </li>
				<li> <a href="genres/"> Genres</a> </li>
				<li> <a href="about/"> About Us</a> </li>
			</ul>
			<div class="search">
				<form action="{% url 'search-movies' %}" method="get"></form>
				<input type="text" id="input" placeholder="Search for favorite films" onkeyup="fun()"/>
				<button type="submit" style="border:none;background:transparent;"><i class="fa fa-search" style="font-size:20px;color:black"></i></button>
				</form>
			</div>
		</nav>
		<div class="sdr">
			<h2 style="padding-left:50px;"> Movies/Gully Boy </h2>
			<hr>
			<table>
				<tr> 
					<td>
					<td>
					<td style="background-color:black;color:white;text-align:center;font-style:bold;"> <img src="{%static 'images/m4.jpg'%}" height="350" width="300">
					<br> <br> <span style="align:left;color:yellow;">Cast :</span>  Ranveer Singh, Siddhanth Chaturvedi, Alia Bhatt <br>
					<span style="align:left;color:yellow;">Directed by :</span> Zoya Akhtar<br>
					<span style="align:left;color:yellow;">Editor :</span> 	Nitin Baid <br>
					<span style="align:left;color:yellow;">Cinematography :</span> Jay Oza <br>
					<span style="align:left;color:yellow;">Music Director :</span> Karsh Kale <br>
					<span style="align:left;color:yellow;">Release date :</span> 14 February 2019 <br>
					<span style="align:left;color:yellow;">Available-in :</span> Prime Video <br>
						Watch now @ <a href="https://www.primevideo.com/detail/Gully-Boy/0I5OF8K1O8JNLUPOQ3VU3MBR5I" target="_blank"><img src="{%static 'images/prime.png'%}" height="50" width="100"></a>
					</td>
					<td style="padding:20px;">
					<h1> THIS BOY IN GULLY MADE EVERY GULLY RESONATE !!!!</h1>
					<h2> Rating:4/5 </h2>
					<p style="font-size:20px;"> &emsp;Gully boy is an aspiring story of a young man Murad Ahmed played by Ranveer Singh who nurtures a fascination for  rap and music even being in a poverty and a helpless mother who is just a puppet in her husbands hand who married an another girl. He is in love with Safina Firdausi played by Alia Bhatt, She support him in chasing the path for his future. He decided to chase his passion his when he saw Srikanth Bhosle played by Siddharth Chaturvedi who came to his college fest to perform. He started writing lyrics for his rap based upon unevenness he faced in job as driver as his father is injured. He is drawn into performing his lyrics at underground shows and rap battles and eventually uploading a video on YouTube.The story revels about will he became successful facing all the obstruction in his life ?
					<br>
					&emsp;  Its obvious ,the actors gave an outstanding performances by inculcating the characters into them and captivated all the audience with their charms. The story is so inciteful that gave a good message to the younger generations to follow their dreams and pursue them. This film is totally worth watch and  will shine in the film industry 

					</p>
					</td>
					
				</tr>
			</table>

			
		</div>
		<div class="f1">
				<p style="font-size:20px"> Connect Us Here<br>
				<a href="http://www.youtube.com" target="_blank"class="fa fa-youtube" ></a>
				 <a href="http://www.facebook.com" class="fa fa-facebook" ></a>
				 <a href="http://www.instagram.com" class="fa fa-instagram" ></a><p>
				<h3> &copy All the reviews are subject to copyright </h3>
			</div>
	</body>
</html>