{%load static%}
<html>
	<head>
		<title> Movie Review </title>
		<link rel="stylesheet" href="{%static 'css/styling.css'%}">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="shortcut icon" href="{%static 'images/logo.png' %}">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;1,400;1,500&display=swap" rel="stylesheet">
	</head>
	<body>
		<nav>
			<a href="#" class="logo"> <img src="{%static 'images/logo.png'%}"/> </a>
			<ul class="menu">
				<li> <a href="main/"> Home </a> </li>
				<li> <a href="movies/">Movies </a> </li>
				<li> <a href="shortfilms/">ShortFilms </a> </li>
				<li> <a href="genres/"> Genres</a> </li>
				<li> <a href="about/"> About Us</a> </li>
			</ul>
			<div class="search">
				<form action="{% url 'search-movies' %}" method="get"></form>
				<input type="text" id="input" placeholder="Search for favorite films" onkeyup="fun()"/>
				<button type="submit" style="border:none;background:transparent;"><i class="fa fa-search" style="font-size:20px;color:black"></i></button>
				</form>
			</div>
		</nav>
		<div class="sdr">
			<h2 style="padding-left:50px;"> Movies/Janatha Garage </h2>
			<hr>
			<table>
				<tr> 
					<td>
					<td>
					<td style="background-color:black;color:white;text-align:center;font-style:bold;"> <img src="{%static 'images/janatha.jpg'%}" height="350" width="300">
					<br> <br> <span style="align:left;color:yellow;">Cast :</span> Jr.NTR,MohanLal,Samantha,NityaMenon <br>
					<span style="align:left;color:yellow;">Written & Directed by :</span> Koratala Siva <br>
					<span style="align:left;color:yellow;">Editor :</span> Kotagiri Venkateswara Rao <br>
					<span style="align:left;color:yellow;">Cinematography :</span> Tirru <br>
					<span style="align:left;color:yellow;">Music Director :</span> Devi Sri Prasad <br>
					<span style="align:left;color:yellow;">Release date :</span> 1 September 2016
					<span style="align:left;color:yellow;">Available-in :</span> Disney+Hotstar <br>
						Watch now @ <a href="https://www.hotstar.com/in/movies/janatha-garage/1000155071" target="_blank"><img src="{%static 'images/hotstar.jpg'%}" height="50" width="50"></a>
					</td>
					<td style="padding:20px;">
					<h1> This People's Garage has a mix of all generes family,message oriented,action and everything </h1>
					<h2> Rating:3.5/5 </h2>
					<p style="font-size:20px;"> &emsp; A godfather-esque figure, a defiant family member, a gang of obedient followers, hundreds of people coming for help and enemies looking for a way to end this reign, and an heir apparent. 
Not a new story for sure, and yet, Janatha Garage manages to make a mark with a bit of novelty. 
With several pages taken from The Godfather, this film takes you into the world of two spirited 
men – Anand (NTR) and Satyam (Mohanlal) – who’d give away all they have just for the cause they 
believe in. A man who loves the earth’s environment joins a man who loves the beings on earth in 
a mission, and the result leaves us with mixed feelings.
					<br>
					&emsp; The highlight scenes in the film would be Anand standing by a government employee (Rajeev Kanakala) 
who refuses to be corrupt, Raghava’s (Unni Mukundan) final plea to his father (Mohanlal), Samantha 
and NTR’s moment of separation which will make you shed a tear, among several others. But the
 interesting thing about all these moments is how they stand out only because of the performances 
of the Mohanlal and NTR who outperform each other at every instance.
					</p>
					</td>
					
				</tr>
			</table>

			
		</div>
		<div class="f1">
				<p style="font-size:20px"> Connect Us Here<br>
				<a href="http://www.youtube.com" target="_blank"class="fa fa-youtube" ></a>
				 <a href="http://www.facebook.com" class="fa fa-facebook" ></a>
				 <a href="http://www.instagram.com" class="fa fa-instagram" ></a><p>
				<h3> &copy All the reviews are subject to copyright </h3>
			</div>
	</body>
</html>