{%load static%}
<html>
	<head>
		<title> Movie Review </title>
		<link rel="stylesheet" href="{%static 'css/styling.css'%}">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="shortcut icon" href="{%static 'images/logo.png' %}">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;1,400;1,500&display=swap" rel="stylesheet">
	</head>
	<body>
		<nav>
			<a href="#" class="logo"> <img src="{%static 'images/logo.png'%}"/> </a>
			<ul class="menu">
				<li> <a href="main/"> Home </a> </li>
				<li> <a href="movies/">Movies </a> </li>
				<li> <a href="shortfilms/">ShortFilms </a> </li>
				<li> <a href="genres/"> Genres</a> </li>
				<li> <a href="about/"> About Us</a> </li>
			</ul>
			<div class="search">
				<form action="{% url 'search-movies' %}" method="get"></form>
				<input type="text" id="input" placeholder="Search for favorite films" onkeyup="fun()"/>
				<button type="submit" style="border:none;background:transparent;"><i class="fa fa-search" style="font-size:20px;color:black"></i></button>
				</form>
			</div>
		</nav>
		<div class="sdr">
			<h2 style="padding-left:50px;"> Movies/Narappa </h2>
			<hr>
			<table>
				<tr> 
					<td>
					<td>
					<td style="background-color:black;color:white;text-align:center;font-style:bold;"> <img src="{%static 'images/narappa.jpg'%}" height="350" width="300">
					<br> <br> <span style="align:left;color:yellow;">Cast :</span> 	Venkatesh,Priyamani,Ammu Abhirami <br>
					<span style="align:left;color:yellow;">Directed by :</span> Srikanth Addala<br>
					<span style="align:left;color:yellow;">Editor :</span> Marthand K. Venkatesh <br>
					<span style="align:left;color:yellow;">Cinematography :</span> Shyam K. Naidu <br>
					<span style="align:left;color:yellow;">Music Director :</span> 	Mani Sharma <br>
					<span style="align:left;color:yellow;">Release date :</span> 20 July 2021 <br>
					<span style="align:left;color:yellow;">Available-in :</span> Prime Video <br>
						Watch now @ <a href="https://www.primevideo.com/detail/Narappa/0QEQ5N0RWTZE7E59NNISTZ76AL" target="_blank"><img src="{%static 'images/prime.png'%}" height="50" width="100"></a>
					</td>
					<td style="padding:20px;">
					<h1> Venkatesh shoulders an assured remake that deals with a painful subject</h1>
					<h2> Rating:3.5/5 </h2>
					<p style="font-size:20px;"> &emsp;Narappa bears the weight of Srikanth Addala retelling an already successful story pulled off by
Vetrimaaran with Asuran. It also releases just a few days after the 36th anniversary of the 
Karamchedu massacre which saw six dalits killed, three dalit women raped and many displaced by
the overlords in the village on July 17. Just like in the massacre that remains fresh on people’s 
minds, a chain of events lead to bloodshed, tears and pain in the film.<br>
					&emsp; Narappa (Venkatesh Daggubati) is an ageing alcoholic farmer who prefers to turn the other cheek 
rather than fight back and stand up the oppression him and his peers face in the village. Unbeknownst 
to his hot-headed sons Munikanna (Karthik Ratnam) and Sinappa (Rakhi) he has a reason for being the 
way he is. What they also do not know is that he has a painful, violent past and will go to any 
lengths to keep them safe. A rich landlord Pandusami (Aadukalam Naren) wants to grab their 
three-acres of land to set up a cement factory despite already owning most of the land in the 
village. When Narappa’s eldest son Munikanna, egged on by his uncle Basavayya (Rajeev Kanakala) 
and mother Sundaramma (Priyamani), refuses to put up with the caste disparity in the village, he 
sets off a chain of events that see his father fight to save the family.<br>
					&emsp Narappa is familiar territory for those who have seen Asuran. It might not be as smooth as the original 
due to some of the performances by the supporting cast, but it manages to get the message across loud 
and clear. The casting of Venkatesh Daggubati in particular for the lead role might also not sit well 
with everyone, coming across as tone deaf. For those who haven’t seen Vetrimaaran’s work, this is another 
film like the recent Uppena, Colour Photo, Palasa 1978, Dorasaani, et al that deal with the subject well. 
Give it a chance if you don’t mind watching a film that forces you to look at your own prejudices.
					</p>
					</td>
					
				</tr>
			</table>

			
		</div>
		<div class="f1">
				<p style="font-size:20px"> Connect Us Here<br>
				<a href="http://www.youtube.com" target="_blank"class="fa fa-youtube" ></a>
				 <a href="http://www.facebook.com" class="fa fa-facebook" ></a>
				 <a href="http://www.instagram.com" class="fa fa-instagram" ></a><p>
				<h3> &copy All the reviews are subject to copyright </h3>
			</div>
	</body>
</html>