{%load static%}
<html>
	<head>
		<title> Movie Review </title>
		<link rel="stylesheet" href="{%static 'css/styling.css'%}">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="shortcut icon" href="{%static 'images/logo.png' %}">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;1,400;1,500&display=swap" rel="stylesheet">
	</head>
	<body>
		<nav>
			<a href="#" class="logo"> <img src="{%static 'images/logo.png'%}"/> </a>
			<ul class="menu">
				<li> <a href="main/"> Home </a> </li>
				<li> <a href="movies/">Movies </a> </li>
				<li> <a href="shortfilms/">ShortFilms </a> </li>
				<li> <a href="genres/"> Genres</a> </li>
				<li> <a href="about/"> About Us</a> </li>
			</ul>
			<div class="search">
				<form action="{% url 'search-movies' %}" method="get"></form>
				<input type="text" id="input" placeholder="Search for favorite films" onkeyup="fun()"/>
				<button type="submit" style="border:none;background:transparent;"><i class="fa fa-search" style="font-size:20px;color:black"></i></button>
				</form>
			</div>
		</nav>
		<div class="sdr">
			<h2 style="padding-left:50px;"> Short Films/Software Developer </h2>
			<hr>
			<table>
				<tr> 
					<td>
					<td>
					<td style="background-color:black;color:white;text-align:center;font-style:bold;"> <img src="{%static 'images/sd.png'%}" height="300" width="300">
					<br> <br> <span style="align:left;color:yellow;">Cast :</span> Shanmukh Jaswanth , Vyshnavi Chaithanya <br>
					<span style="align:left;color:yellow;">Written & Directed by :</span> Subbu .K <br>
					<span style="align:left;color:yellow;">Editor :</span> Krishna Karthik Vunnava <br>
					<span style="align:left;color:yellow;">Cinematography & DI :</span> Vamsi Srinivas <br>
					<span style="align:left;color:yellow;">Available-in :</span> Youtube <br>
						Watch now @ <a href="https://youtu.be/ZvISbJNSolg" target="_blank" class="fa fa-youtube" style="color:red;font-size:40px;border-radius:2px;"></a>
					</td>
					<td style="padding:20px;">
					<h1> May be he is too sentimental but this developer sorry! Devloveper  never disappoints you! </h1>
					<h2> Rating:3.5/5 </h2>
					<p style="font-size:20px;"> &emsp; Software Developer is story of an aspirant youngster shannu (played by shanmukh jaswanth) who wants to develop in his career .He is currently working as project head in a Software Company and only once again we repeat he only focus on his professional career .The team were his friends who were not like their project head balances both their professional and personal life. His team-mates always makes the plans to keep themselves enjoying in their free time. But our hero always try to engage in some sort of work. What if  someone enter into his life to make his routine upside down? What if Mr Shannu  have turned into a lover boy from a true gentlemen? To know That you have to watch Software Devloveper series.
					<br>
					&emsp; Undoubtedly the star cast of this series is the true asset for its success. Shanmukh jaswanth and Vaishnavi Chaitanya are outstanding. And shannu’s team is definetly a dream gang for every software professional. And major highlight of this series is Background score I swear !one cannot expect such quality of background score in a Youtube series and this deserves a thumbsup . Coming to screenplay and direction screenplay is good and director has a good skill to narrate a story in a simple way that combines all the human emotions .And one of major drawback of this series is its slow narration. At times we may feel bore and from episode 8-10 the narration is very low. But software devloveper has it moments that definetly impresses . We recommend you to watch this series can definetly share your experience with us!
					</p>
					</td>
					
				</tr>
			</table>

			
		</div>
		<div class="f1">
				<p style="font-size:20px"> Connect Us Here<br>
				<a href="http://www.youtube.com" target="_blank"class="fa fa-youtube" ></a>
				 <a href="http://www.facebook.com" class="fa fa-facebook" ></a>
				 <a href="http://www.instagram.com" class="fa fa-instagram" ></a><p>
				<h3> &copy All the reviews are subject to copyright </h3>
			</div>
	</body>
</html>